.app-container {
  padding: 0 30px;
}

.header {
  text-align: center;
}

.movies-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  margin: 0 auto;
  padding: 45px 0;
}

.movies-container__movie {
  padding: 30px 0;
  border: 1px solid lightgray;
  text-align: center;
}

.movies-container__movie-title {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.movies-container__movie-overview {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.movie-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    color: white;
}

.movie-modal__close {
    padding: 15px;
    border: 1px solid white;
    background: rgba(0, 0, 0, .7);
    color: white;
}